
body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

.btn {
  font-weight: 300;
}


/* for mobile */
@media query {

}


/* for desktop and tablets */
@media query {

}
